body {
  background-color: #e5e6f9;
  font-family: "Red Hat Display", sans-serif;
}

.app {
  background-color: whitesmoke;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(182, 153, 247, 0.08);
  border-radius: 13px;
  padding: 40px;
}
header {
  border-bottom: 1px solid #c7cdfa;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #8992f1;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
  color: white;
}

.search-form-button {
  background-color: #c7cdfa;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: white;
}
main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-datails {
  font-size: 16px;
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
  line-height: 24px;
}

.weather-app-details strong {
  color: deeppink;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature-value {
  font-size: 88px;
  font-weight: bold;
}
.weather-app-temperature-icon {
  font-size: 44px;
  margin-top: 30px;
  margin-left: 10px;
}

.weather-app-temperature-unit {
  margin-top: 40px;
  font-size: 28px;
  font-weight: bold;
}

footer {
  border-top: 1px solid #a2a8d3;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}
a {
  color: deeppink;
}
